
@{
    Layout = "~/Views/Shared/_layoutHome.cshtml";
}

<!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/styles/dattour/css/bootstrap.min.css" />

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/styles/dattour/css/style.css" />
<body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdyWYua4EcN0Kv318e-MtQLZ6jCxOWNmKuDr8mbOzXQcFh68w/viewform" width="640" height="670"frameborder="0" marginheight="0" marginwidth="0">Đang tải…</iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>